html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Exo 2', sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

img {
  border: none;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;

  img {
    border: none;
  }
}

input[type="text"] {
  -webkit-appearance: none;
}

input[type="email"] {
  -webkit-appearance: none;
}

input[type="tel"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
  overflow: auto;
}

button {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
}

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

* {
  box-sizing: inherit;

  &:before {
    box-sizing: inherit;
  }

  &:after {
    box-sizing: inherit;
  }
}

* {
  box-sizing: border-box;
}
h4 {
  text-align: center;
  font-size: 2em;
  margin: 40px 0;
  color: #4adc63;
}
p {
  line-height: 30px;
}
section {
  @media (max-width: 650px) {
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  @media (max-width: 460px) {
      img {
        width: 200px;
      }
    }
}
.title{
  font-size: 2em;
  margin: 20px 0;
  letter-spacing: 2px;
  color: #4adc63
}
.about-ex{

}
main {
  padding: 50px 0;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: no-repeat center center;
  background-image: url('sunset.jpg');
  background-size: cover;
  background-color: rgba(7, 49, 52, .8);
@media (max-width: 1033px) {
    padding: 20px 0;
}
  .content {
    margin: 0 auto;
    max-width: 1200px;
    @media (max-width: 1220px) {
    max-width: 1000px;
}@media (max-width: 1033px) {
    max-width: 800px;
}
    @media (max-width: 850px) {
    max-width: 600px;
}
    @media (max-width: 650px) {
      max-width: 400px;
    }
    @media (max-width: 460px) {
      max-width: 250px;
    }

    h1 {
      font-size: 5em;
      letter-spacing: 5px;
      color: #ffff;
    }

    .under-main-name {
      position: relative;
      font-size: 1em;
      letter-spacing: 2px;
      color: #ffff;
      margin-top: 10px;
      padding-left: 7px;
      text-align: left;
      text-transform: uppercase;
    }
     .about-txt {
       @media (max-width: 1033px) {
         p {
           color: black
         }
}
       color: #ffff;
        p {
          font-size: 1.2em;
          padding: 0;
          text-transform: none;
        }
      }
    .flex-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 50px;
      @media (max-width: 850px) {
      flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
}
        @media (max-width: 650px) {
      max-width: 400px;
          align-items: center;
    }

      .about-contact {
        font-size: 18px;

        .el {
          display: flex;
          margin: 20px 0;
          justify-content: flex-start;
          align-items: center;
          &:hover{
            a {
              color: #b9cecf;
            }
          }

          a {
            @media (max-width: 850px) {
              color: black
            }
            color: #ffff;
            text-transform: initial;
            font-weight: bold;
            letter-spacing: 2px;
          }

          span {
            font-family: sans-serif;
            color: #4adc63;
            display: block;
            margin-right: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            i{
              font-size: 1.5em;
            }
          }
        }
      }

      .avatar {
        position: relative;
        height: auto;
        width: 320px;
        z-index: 1;
        right: 0;
        bottom: 0;
        margin: 20px 0;

        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: contain;
          border-radius: 13px;
        }


      }
    }
  }


  &:after {
    background-color: rgba(7, 49, 52, .4);
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    bottom: 0;
    //border-radius: 48px;
    z-index: -1;
  }
}
ul {
  li{
    margin: 20px 0;
  }
}
.sub-title {
  margin: 10px 0;
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}
